<div class="container">
  <div class="centrado-absoluto">
    <form class="border p-3 form" *ngIf="finish==false">
      <h4 style="text-align: center;">Encuesta gustos musicales</h4>
      <br>
      <div class="form-group">
        <div class="alert alert-info">
          A continuación deberá ingresar su email y elegir un estilo de música favorito, si no se encuentra el estilo, puede crearlo,
           recuerde que solo podrá contestar el formulario <b>una vez</b>
        </div>
        <label for="email">Email</label>
        <input type="email" placeholder="Ingrese su email" name="email" [(ngModel)]="encuesta.email"
          class="form-control">
        <div class="form-group">
          <label for="estilo">Estilo de música favorito</label>
          <ng-select placeholder="Seleccione o escriba su gusto musical favorito" 
          [addTag]="true"
          [addTagText]="'Crear gusto musical'"
          name="gusto" [(ngModel)]="encuesta.gusto">
            <ng-option value="Rock">Rock</ng-option>
            <ng-option value="Rock">Pop</ng-option>
            <ng-option value="Rock">Country</ng-option>
            <ng-option value="Rock">Jass</ng-option>
            <ng-option value="Rock">Reggae</ng-option>
          </ng-select>
        </div>
        <br>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>
        </div>
      </div>
    </form>
    <div class="border p-3 form" *ngIf="finish">
      <div class="alert alert-danger" *ngIf="errores.length>0">
        <b>El formulario tuvo errores: </b>
        <ul>
          <li *ngFor="let error of errores">{{error}}</li>
        </ul>
      </div>
      <div *ngIf="data_get.length>0">
        <h5 style="text-align: center;">Listado de encuestados</h5>
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <th>Email</th>
              <th>Preferencia musical</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of data_get">
                <td>{{item.email}}</td>
                <td>{{item.gusto}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="text-align: center;">
        <button class="btn btn-danger" (click)="goBack()">Volver</button>
      </div>
    </div>
  </div>
</div>
